<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Real-Time Tracking App</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
</head>
<body>
  <div id="map"></div>

  <!-- Chat Box -->
  <div id="chat">
    <div id="messages"></div>
    <input id="messageInput" placeholder="Type a message..." />
    <button id="sendBtn">Send</button>
  </div>

  <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/script.js"></script>
</body>
</html>
